<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>List of Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <section class="users">
      <div *ngFor="let user of ( users$|async )?.users" class="user">
        <span>{{ user.id }}</span>
        <span>{{ user.name }}</span>
        <span>{{ user.phone }}</span>
        <span>{{ user.email }}</span>
      </div>
  </section>

</ion-content>
