
.users {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
  }
  
  .user {
    display: flex;
    flex-direction: column;
    border: 1px dotted black;
    margin: 10px;
    padding: 5px;
  }