.counter {
    display: flex;
    flex-direction: row;
    border: 1px dotted black;
    max-width: fit-content;
    margin: 10px;
    }
    
    .counter button {
    width: 25px;
    border: 1px solid black;
    margin: 5px;
    }
  