<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Prueba Store</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="dark" padding>
    <section class="counter">
      <button (click)="decrement()">-</button>
      <p> {{ (counter$ | async)?.total }} </p>
      <button (click)="increment()">+</button>
      <button (click)="reset()">R</button>
    </section>
  </ion-content>
