<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Welcome to our App Test</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Enjoy the latest news from TechCrunch and Google</p>
      </ion-card-content>
      <ion-list>
          <ion-item>
              <ion-label>Google</ion-label>
              <ion-toggle color="primary" [(ngModel)]="google" mode="md" (ionChange)="ionViewDidGoogle(this.google)"></ion-toggle>
          </ion-item>
          <ion-item>
              <ion-label>TechCrunch</ion-label>
              <ion-toggle color="danger" [(ngModel)]="techCrunch" mode="md" (ionChange)="ionViewDidTechCrunch(this.techCrunch)" ></ion-toggle>
          </ion-item>
      </ion-list>
     </ion-card>
    
      <div *ngIf="techCrunch" >
          <h3 padding>News TechCrunch</h3>
          <ion-spinner *ngIf="!articlesTechCrunch" name="dots"></ion-spinner>
          <ion-card *ngFor="let article of articlesTechCrunch">
              <ion-img src="{{article.urlToImage}}"></ion-img>
              <ion-card-header>
                <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p>
                  {{article.description}}
                </p>
                <ion-button ion-button fill="outline" href="{{article.url}}" large>Read full article</ion-button>
    
              </ion-card-content>
            </ion-card>
      </div>
      <div *ngIf="google" >
          <h3 padding>News Google</h3>
          <ion-spinner *ngIf="(articlesGoogle$|async).length == 0" name="dots"></ion-spinner>
          <ion-card *ngFor="let article of ( articlesGoogle$|async )">
              <ion-img src="{{article.urlToImage}}"></ion-img>
              <ion-card-header>
                <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p>
                  {{article.description}}
                </p>
                <ion-button ion-button fill="outline" href="{{article.url}}" large>Read full article</ion-button>
    
              </ion-card-content>
            </ion-card>
      </div>
    
</ion-content>
